
h1{
  text-align: center;
  color: #000;
}
.form-container{
  background-color: #fff;
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  form{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    input{
      margin-top: 5px;
      text-align: center;
    }
    span{
      color: red;
      font-size: 10px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  }
  .form-btn{
    margin-top: 5px;
  }
}
